# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.env/
.venv/
ENV/
.envrc
*.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Others
*.bak
*.swp
*.tmp

/arquivo
chaves.h
